<div class="tweet">
  <%# <img src=”URL” alt=”文字” class=”セレクタ”> %>
  <%# <div class="detail_btn_area">
    <div class="detail_btn">
      カテゴリー
    </div>
  </div> %>
  <ul class="tweet_list">
  
  <% @tweets.each do |tweet| %>
  <%= link_to tweet_path(tweet.id),class: "tweets" do %>
    <li class="list">
      <div class="tweet_image">
        <%= image_tag tweet.image.variant(resize:'400x400'), class: 'tweet-image' %>
      </div>
      <div class="tweet_content">
        <div class="tweet_title">
          <%= tweet.title %>
        </div>
        <div class="tweet_detail">
          <span>日時：</span>
          <%= tweet.month.name %>
          <span>月</span>
          <%= tweet.day.name %>
          <span>日</span>
          <%= tweet.hour.name %>
        </div>
        <div class="tweet_detail">
          <span>都道府県：</span>
          <%= tweet.prefecture.name %>
        </div>
        <div class="tweet_detail">
          <span>会場：</span>
          <%= tweet.place %>
        </div>
        <div class="tweet_detail">
          <span>環境：</span>
          <%= tweet.field.name %>
        </div>
        <div class="tweet_detail">
          <span>参加費：￥</span>
          <%= tweet.price %>
        </div>
        <div class="tweet_detail">
          <span>レベル：</span>
          <%= tweet.level.name %>
        </div>
        <div class="tweet_detail">
          <span>カテゴリー：</span>
          <%= tweet.category.name %>
        </div>
        <div class="tweet_detail">
          <span>注意事項：</span>
          <%= tweet.detail %>
        </div>
      </div>      
    </li>
  <% end %>
  <% end %>
  </ul>
</div>