<div class="tweet">
  <ul class="tweet_list">
  <% @tweets.each do |tweet| %>
  <%= link_to tweet_path(tweet.id),class: "tweets" do %>
    <li class="list">
      <div class="tweet_image">
        <%= image_tag tweet.image.variant(resize:'400x400'), class: 'tweet-image' %>
      </div>
      <div class="tweet_content">
        <div class="tweet_title">
          <%= tweet.title %>
        </div>
        <div class="tweet_detail">
          <span>日時：</span>
          <%= tweet.month.name %>
          <span>月</span>
          <%= tweet.day.name %>
          <span>日</span>
          <%= tweet.hour.name %>
        </div>
        <div class="tweet_detail">
          <span>会場：</span>
          <%= tweet.place %>
        </div>
        <div class="tweet_detail">
          <span>住所：</span>
          <%= tweet.address %>
        </div>
        <div class="tweet_detail">
          <span>環境：</span>
          <%= tweet.field.name %>
        </div>
        <div class="tweet_detail">
          <span>参加費：￥</span>
          <%= tweet.price %>
        </div>
        <div class="tweet_detail">
          <span>レベル：</span>
          <%= tweet.level.name %>
        </div>
        <div class="tweet_detail">
          <span>カテゴリー：</span>
          <%= tweet.category.name %>
        </div>
        <div class="tweet_detail">
          <span>持ち物：</span>
          <%= tweet.item %>
        </div>
      </div>      
    </li>
  <% end %>
  <% end %>
  </ul>
</div>