<% if user_signed_in? && current_user.id == @tweet.user_id%>
  <div class="select_btn">
    <%= link_to '編集', edit_tweet_path, method: :get, class: "edit_btn" %>
    <%= link_to '削除', tweet_path, method: :delete, class:"destroy_btn" %>
    <%= link_to '戻る', root_path, class:"return_btn" %>
  </div>
<% else %>
  <div class="select_btn">
    <%= link_to '戻る', root_path, class:"return_btn" %>
  </div>
<% end %>

<div class="tweet_show">
  <div class="tweet_image">
    <%= image_tag @tweet.image.variant(resize:'300x300'), class: 'tweet-image' %>
  </div>
  <div class="tweet_content">
    <div class="tweet_title">
      <%= @tweet.title %>
    </div>
    <div class="tweet_category_id">
      <span>カテゴリー：</span>
      <%= @tweet.category.name %>
    </div>
    <div class="tweet_prefectures_id">
      <span>都道府県：</span>
      <%= @tweet.prefecture.name %>
    </div>
    <div class="tweet_place">
      <span>会場：</span>
      <%= @tweet.place %>
    </div>
    <div class="tweet_field_id">
      <span>環境：</span>
      <%= @tweet.field.name %>
    </div>
    <div class="tweet_level_id">
      <span>レベル：</span>
      <%= @tweet.level.name %>
    </div>
    <div class="tweet_price">
      <span>参加費：￥</span>
      <%= @tweet.price %>
    </div>
    <div class="tweet_detail">
      <span>注意事項：</span>
      <%= @tweet.detail %>
    </div>
  </div>
</div>
<div class="comment">
  <% if current_user %>
    <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
    <div>
      <%= form.text_area :text, placeholder: "コメントする", rows: "2", class:"comment_form" %>
    </div>
    <div>
      <%= form.submit "送信" , class:"comment_btn"%>
    </div>
    <% end %>
  <% else %>
    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
    </strong>
  <% end %>
</div>
<div class="comments">
  <h4>コメント一覧</h4>
  <br>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"comment_name" %>：</strong>
          <%= comment.text %>
      </p>
    <% end %>
  <% end %>
</div>

