<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SalMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%# <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" /> %>
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
  </head>
  
  <body>
    <div class="header">
      <div class="header_left">
        <%= link_to "SalMatch", root_path, class: "SalMatch" %>
      </div>
      <div class="header_right">
        <ul class="header_list">
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, root_path,  class: "button" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "button" %></li>
          <li><%= link_to "投稿", new_tweet_path, class: "button" %></li>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "button" %>
          <%= link_to "新規登録", new_user_registration_path, class: "button" %>
        <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
